---
import SiteLayout from '../layouts/SiteLayout.astro';
---

<SiteLayout>
    <div>
        <h1>404</h1>
        <hr />
        <p>Sorry, that blog post doesn't exist.</p>
    </div>
</SiteLayout>

<style>
    div {
        text-align: center;
        margin-top: 5em;
    }
</style>