---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import SiteLayout from '../layouts/SiteLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<SiteLayout>
	<p>
		Hey, welcome to my blog. I use this space to share thoughts, learnings, and my story.
	</p>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/${post.id}/`}>
							<p class="title">
								<FormattedDate date={post.data.pubDate} /> 
								|
								{post.data.title} 
							</p>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</SiteLayout>

<style>
	a {

	}
</style>